.edit-form{
    min-width: 150px;
    width: 100%;
}

.field-full-width{
    width: 100%;
}
.update-title{
    padding-top: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    margin-bottom: 20px;
}
.btn{
    margin-right: 10px;
}
