.card{

    background:none;
    border:none;
    padding: 10px 10px 10px 10px;
    -webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
.row, .row_1{
    margin-left: 10px;
    margin-right: 10px;
}

.card:hover{
 padding: 5px; 
}
.card-body{
    background-color: #5AB5A4;
}
.card-footer{
    background-color: #1BA487;
}

h4{
    font-style: oblique;
    font-size: 36px;
    color: rgb(29, 14, 41);
}
.btn{
    margin: 0 10px 0  10px;
    -webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
.btn:hover{
    margin:5px; 
}
.input-group, .input-group-btn{
    margin-top: 20px;
    height: 50px;
}
.form-inline{
    float: right;
    margin-top: 20px;
}


