<button type="button" class="btn btn-outline-dark my-2 my-sm-0" *ngIf="!this.adminService.isLoggedIn()" (click)="openModal(template)">Admin
  Login</button>
<button type="button" class="btn btn-outline-dark my-2 my-sm-0" *ngIf="this.adminService.isLoggedIn()" (click)="logout()">Logout</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Login</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="loginForm" class="login-form">
      <div class="alert-danger">
        {{errorMsg}}
      </div>
      <div class="form-group">
        <label for="Email">Email address</label>
        <input type="email" class="form-control" placeholder="Email" formControlName="email" #email>
        <div class="error">
          <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">Please enter
            email</span>
        </div>
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" placeholder="Password" formControlName="password" #password>
        <div class="error">
          <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please enter
            password</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary my-2 my-sm-0" aria-label="Close" (click)="modalRef.hide()">Close</button>
        <button type="submit" class="btn btn-outline-primary my-2 my-sm-0" (click)="login(email.value, password.value)"
          [disabled]="loginForm.pristine || loginForm.invalid">Login</button>
      </div>
    </form>
  </div>

</ng-template>